@page "/review/create"
@inject IHttpClientFactory _clientFactory
@inject NavigationManager _navManager
<AuthorizeView>
<Authorized>
    <h3>Create</h3>

    <Form ButtonText="Create Review" review="@review"
          OnValidSubmit="@CreateReview" />
</Authorized>
<NotAuthorized>
    @{
        var returnUrl =_navManager.Uri;
    }
    <LoginRedirect ReturnUrl="@returnUrl"/>
</NotAuthorized>
</AuthorizeView>

@code {
    Review review = new Review();
    async Task CreateReview()
    {
        HttpClient client = _clientFactory.CreateClient("NearXServer");
        await client.PostAsJsonAsync("api/review", review);

        _navManager.NavigateTo("reviews");
    }
}
